@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
    width: 100%;

}
.btn{
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: rgb(231, 111, 81);
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
}

/* Head part  */
header {
    background-color: rgb(38, 70, 83);
}

.head-part {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 30px;
}

/* nav bar part  */
.head-part nav {
    display: flex;
    align-items: center;
    width: 1200px;
    justify-self: center;
    padding-top: 50px;

}

.head-part nav ul {
    display: flex;
    gap: 36px;
    margin-left: 685px;
}

.head-part nav ul a {
    text-decoration: none;

}

.head-part nav ul a li {
    list-style: none;
    color: rgb(255, 255, 255);
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;

}

/* .head-part button {
    width: 100px;
    height: 40px;
    left: 1124px;
    border: none;
    border-radius: 4px;
    background-color: rgb(231, 111, 81);
    color: rgb(255, 255, 255);
    font-family: Poppins;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
} */

/* Hero part  */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 60px;
}
.hero .pera-03{
    color: rgb(224, 224, 224);
    font-size: 12px; 
    font-weight: 300; 
    margin-top: 10px;
    width: 60%;
}
/* main part  */
main{
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 30px;
    border: 1px solid;
}

/* Fetured Bikes part  */
.fet-bikes{
    margin-top: 60px;
    
    /* justify-content: space-between; */
    
}
.fet-bikes .bike {
    display: grid;
    grid-template-columns: 3;
}

/* latest News page */

.bike-box .data-01 {
    color: rgb(24, 25, 31);
    font-family: Poppins;
    font-size: 20px;
    font-weight: 600;
    margin-top: 20px;
}

.bike-box .data-02 {
    color: rgb(108, 108, 108);
    font-family: Poppins;
    font-size: 12px;
    font-weight: 400;
    margin-top: 10px;
}

.bike-box .lt-btn {
    margin-top: 20px;
    height: 30px;
    width: 120px;
    border: none;
    border-radius: 4px;
    background-color: rgb(231, 111, 81);
    color: rgb(255, 255, 255);
    font-family: Poppins;
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
}

/* Happy Clients says page */

.happy .bio-01 {
    color: rgb(108, 108, 108);
    font-family: Poppins;
    font-size: 12px;
    font-weight: 400;
    margin-top: 20px;
}

.happy .bio-02 {
    color: rgb(35, 166, 240);
    font-family: Poppins;
    font-size: 14px;
    font-weight: 600;
    margin-top: 10px;
}

.happy .bio-03 {
    color: rgb(37, 43, 66);
    font-family: Poppins;
    font-size: 14px;
    font-weight: 600;
    margin-top: 10px;
}


/* foot part  */

.foot {
    margin-top: 120px;
    background-color: rgb(11, 13, 23);
    height: 340px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 450px;
}

.foot ul {
    display: flex;
    gap: 20px;
}

.foot ul li {
    list-style: none;
}

.foot ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: Manrope;
    font-size: 16px;
    font-weight: 400;
}