@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    list-style: none;
}

body {
    width: 100%;

}
.btn{
    padding: 8px 20px;
    border: none;
    border-radius: 4px;
    background-color: rgb(231, 111, 81);
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
}

/* Head part  */
header {
    background-color: rgb(38, 70, 83);
}

.head-part {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 30px;
}

/* Hero part  */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 60px;
}
.hero .pera-03{
    color: rgb(224, 224, 224);
    font-size: 12px; 
    font-weight: 300; 
    margin-top: 10px;
    width: 60%;
}
/* main part  */
main{
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 30px;
}

/* Fetured Bikes part  */
.fet-bikes{
    margin-top: 70px;
   display: grid;
   grid-template-columns: repeat(3,1fr);
   justify-content: space-between;
   gap: 40px;
}
.fet-bikes img{
    width: 80%;
    margin: 0 auto;
}

/* latest News page */
.bike-table{
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    
    gap: 30px;
    width: 100%;
}
.bike-table .bike-box{
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
    padding: 24px;
    border-radius: 8px;
    
}
.bike-table .bike-box img{
    width: 100%;
}

.bike-box .data-01 {
    color: rgb(24, 25, 31);
    font-size: 20px;
    font-weight: 600;
    margin-top: 20px;
}

.bike-box .data-02 {
    color: rgb(108, 108, 108);
    font-size: 12px;
    font-weight: 400;
    margin-top: 10px;
    width: 80%;
}
.bike-table .bike-box button{
    margin-top: 20px;
}

/* Happy Clients says page */
.happy-box{
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: space-between;
    gap: 40px;
}
.clients-box{
    border: 1px solid rgb(222, 222, 222); 
    border-radius: 5px; 
    text-align: center;
    padding: 40px 0;
}

.happy-box .bio-01 {
    color: rgb(108, 108, 108);
    font-size: 12px;
    font-weight: 400;
    margin-top: 30px;
}

.happy-box .bio-02 {
    color: rgb(35, 166, 240);
    font-size: 14px;
    font-weight: 600;
    margin-top: 10px;
}

.happy-box .bio-03 {
    color: rgb(37, 43, 66);
    font-size: 14px;
    font-weight: 600;
    margin-top: 10px;
}


/* foot part  */
footer{
   background-color: rgb(11, 13, 23);
   margin-top: 120px;
}

.foot {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 60px 30px;
}

.foot ul {
    display: flex;
    gap: 20px;
}

.foot ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 400;
}